[submodule "libcxxabi"]
	path = libcxxabi
	url = git@github.com:llvm-mirror/libcxxabi.git
[submodule "libcxx"]
	path = libcxx
	url = git@github.com:llvm-mirror/libcxx.git
[submodule "build"]
	path = meson
	url = https://github.com/embeddedartistry/meson-buildsystem
[submodule "embedded-unwind"]
	path = embedded-unwind
	url = git@github.com:embeddedartistry/embedded-unwind.git
[submodule "extensions/plf_list"]
	path = extensions/plf_list
	url = git@github.com:mattreecebentley/plf_list.git
[submodule "extensions/plf_stack"]
	path = extensions/plf_stack
	url = https://github.com/mattreecebentley/plf_stack
