[submodule "libcxxabi"]
	path = libcxxabi
	url = git@github.com:embeddedartistry/libcxxabi.git
[submodule "libcxx"]
	path = libcxx
	url = git@github.com:embeddedartistry/libcxx.git
[submodule "build"]
	path = build
	url = git@github.com:embeddedartistry/meson-buildsystem.git
[submodule "embedded-unwind"]
	path = embedded-unwind
	url = git@github.com:embeddedartistry/embedded-unwind.git
