[submodule "libcxxabi"]
	path = libcxxabi
	url = git@github.com:embeddedartistry/libcxxabi.git
[submodule "libcxx"]
	path = libcxx
	url = git@github.com:embeddedartistry/libcxx.git
[submodule "tools/llvm-lit2"]
	path = tools/llvm-lit
	url = git@github.com:embeddedartistry/llvm-lit.git
[submodule "build"]
	path = build
	url = git@github.com:embeddedartistry/meson-buildsystem.git
